# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Basic (CRLF -> LF not for classes or modules)
*.bas text eol=crlf
*.cls text eol=crlf

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain

# And others formats
*.xml  diff=astextplain
*.XML  diff=astextplain